.outerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
    margin-top: 16px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

.stats {
  width: 100%;
  background: #dfdfdf;
  display: flex;
  flex-direction: row;
  height: 260px;
  justify-content: space-around;
  align-content: center;
}
  
  .budget {
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px solid #666;
    width: 430px;
    height: 230px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .dates {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
  }