.menu-item > span.icon {
    text-decoration: none !important;
}

.taePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
  
.taeColumn {
    flex-grow: 1;
    margin: 24px;
}
  
.taeDoubleWidth {
    flex-grow: 2;
}

.taeTripleWidth {
    flex-grow: 3;
}