span {
    font-size: 14px;
    width: 100%;
}

.combo > div.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: block;
    padding-left: 2px;
    width: 100%;
}

.combo {
    position: relative;
    width: 100%;
    background: #fff !important;
    margin-left: -4px;
    -webkit-margin-start: -3px;
    border: 1px solid transparent !important;
    height: 2em;
}

.work-item-control {
    width: 100%;
    padding-bottom: 2px;
    display: inline-block;
}

.control {
    padding-left: 1px;
    padding-bottom: 1px;
}

.label-control {
    padding-bottom: 1px;
    padding-right: 6px;
}

.combo>div.wrap>input[type=text] {
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    outline: none;
    background-color: #FFF;
    font-size: 14px;
    text-overflow: ellipsis;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
}